#login-page {
  background: url('https://static1.makeuseofimages.com/wp-content/uploads/2015/02/windows-keyboard-shortcuts.jpg') center top / cover;
}

.login-bg {
  padding: 50px;
  background-color: rgba(88, 88, 88, 0.562);
}
.username-input-container {
  height: 39px;
  width: 240px;
}

#username-input {
  font-size: 16px;
}

#submit-button {
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
  margin-left: 10px;
}
